body {
    margin: 0;
    padding: 0;
    color: $font-color;
    font-family: 'Signika Negative', sans-serif;
}

h1 {
    margin: 0;
}

input {
    border: none;
    text-decoration: none;
    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
}