$layout-sm: 576px; 
$layout-md: 768px; 
$layout-lg: 992px;
$layout-xl: 1200px;

$breakpoint-sm: 576px; 
$breakpoint-md: 768px; 
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

$min-layout-width: 320px; 

$step: 8px;

$font-color: #252B42;
